.box{
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 3px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: auto; */
    transition: all  3s  linear  1s;
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{

    /* transform: rotate(360deg); */
/* 
    transform: scale(2); */
    /* transform: scale(0.5); */

    transform: skew(45deg);
    
    
}

p{
    font-size: 36px;
}
