*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    /* background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(166, 50, 136, 1) 15%, rgba(185, 45, 113, 1) 22%, rgba(190, 44, 107, 1) 24%, rgba(209, 39, 83, 1) 32%, rgba(253, 29, 29, 1) 50%, rgba(253, 52, 35, 1) 58%, rgba(253, 63, 38, 1) 61%, rgba(253, 81, 43, 1) 68%, rgba(252, 119, 53, 1) 81%, rgba(252, 163, 65, 1) 96%, rgba(252, 176, 69, 1) 100%); */

}

.navContainer{
    width: 100vw;
    /* background-color: rgb(112, 112, 150); */
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(7, 59, 154, 1) 51%, rgba(6, 87, 172, 1) 60%, rgba(5, 108, 186, 1) 66%, rgba(0, 212, 255, 1) 100%);

    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    padding: 2rem;
}

#navList{
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLogo{
    font-size: 3rem;
    color: white;
}

a{
    text-decoration: none;
    color: azure;
}

#navItems{
    display: flex;
    gap: 40px;
}

.footerBox{
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(7, 59, 154, 1) 51%, rgba(6, 87, 172, 1) 60%, rgba(5, 108, 186, 1) 66%, rgba(0, 212, 255, 1) 100%);

width: 100%;
text-align: center;
min-height: 40px;

}

.footerBox p {
    color: azure;
    font-size: 2rem;

}

.contentBox{
    width: 50%;
    margin: auto;
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 5px 5px 30px black;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rigthBox img{
    height: 400px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;


}
.rigthBox img:hover{
    transform: scale(1.2);
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size: 2rem;
}
